<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delete Completed</title>
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="/css/delete_complete.css">
</head>
<body>
  <div class="center">
    <div class="complete-message">
      <h1>スニペット削除が完了しました</h1>
      <a href="/get_snippets?offset=0&limit=4">スニペット一覧へ戻る</a>
    </div>
  </div>
</body>
</html>
