<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Snippet <%= id %></title>
</head>
<body>
  <h1>Snippet Detail</h1>
  <p>Snippet ID: <%= id %></p>
  <p>Content: <%= content %></p>

  <a href="/">Back to Home</a>
</body>
</html>
