<!-- スニペットの詳細ページ -->
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>snippet_detail</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/snippet_detail.css" />
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
    <!-- Google Fonts用 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <!-- 左側のメニュー -->
      <div class="side-menu left-menu">
        <div class="logo-container">
          <a class="logo-link" href="/"
            ><img class="app-logo" src="/images/snippet-app-logo.png" alt="スニペットアプリのロゴ"
          /></a>
        </div>
      </div>
      <!-- 中央のメニュー -->
      <div class="main-menu">
        <div class="snippet-title">[Ruby] 文字列を配列に格納する</div>
        <div class="tags-menu">
          <ul class="tags">
            <li>Ruby</li>
            <li>配列</li>
          </ul>
        </div>
        <!-- 中央内の左右を分割 -->
        <div class="left-right-container">
          <!-- 中央内の左側 -->
          <div class="left-container">
            <div class="snippet-body">
              <main class="code">
                string = "apple banana orange"<br />string.split(" ")<br />p string #=> ["apple", "banana", "orange"]
              </main>
            </div>
            <div class="icon-container">
              <a href="#"><img id="copy-icon" src="/images/copy.png" alt="コピーのアイコン" /></a>
            </div>
          </div>
          <!-- 中央内の右側 -->
          <div class="right-container">
            <div class="snippet-description">
              半角スペース区切りの文字列に対して、それぞれの文字を要素とする配列を作成します。
            </div>
          </div>
        </div>
        <!-- /.left-right-container -->
      </div>
      <!-- /.main-menu -->
      <!-- 右側のメニュー -->
      <div class="side-menu right-menu">
        <a href="#"><img id="pen-icon" src="/images/pen.png" alt="鉛筆のアイコン|編集リンク" /></a>
        <a href="#"><img id="trash-can-icon" src="/images/trash.png" alt="ごみ箱のアイコン|削除リンク" /></a>
      </div>
    </div>
    <!-- /.container -->
  </body>
</html>
