body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  text-align: center;
}

#init-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#init-title h1 {
  font-size: 3rem;
  margin: 0;
  color: #333;
}

#init-title a {
  text-decoration: none;
  color: inherit;
}


#init main #start button {
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: #10a98a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#init main #start button:hover {
  background-color: #0e7964;
}
