/* スニペットの詳細ページ */
@charset "utf-8";

.container {
  /* フレックスボックスの利用 */
  display: flex;
  /* 高さはビューポート100% */
  height: 100vh;
}

.side-menu {
  /* 左右のメニューは比率1:1 */
  flex: 1;
}

.left-menu {
  background: rgb(218, 220, 220);
  /* フレックスボックスの利用 */
  display: flex;
  justify-content: center;
  height: auto;
}

.logo-link {
  display: inline-block;
  height: auto;
  width: auto;
}

.app-logo {
  max-width: 150px;
  height: auto;
  margin-top: 20%;
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(218, 220, 220);
  width: 70%;
}

.code {
  font-family: 'Fira Code', monospace;
}

.icon-container {
  /* コピーアイコンの位置固定 */
  position: absolute;
  top: 20px;
  right: 10px;
}

#copy-icon {
  width: 42px;
  height: auto;
  /* 画像の色合いに効果を加える */
  filter: invert(1) brightness(0.9);
}

#pen-icon {
  width: 37px;
  height: auto;
  position: fixed;
  top: 10%;
}

#trash-can-icon {
  width: 42px;
  height: auto;
  position: fixed;
  bottom: 1.25%;
}

.snippet-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 97%;
  height: 4%;
  min-height: 50px;
  margin-top: 1.25%;
  border-radius: 6px;
  font-size: 24px;
}

.tags-menu {
  display: flex;
  /* 縦方法に中央揃え */
  align-items: center;
  width: 97%;
  height: 4%;
  line-height: 4%;
  margin-top: 1%;
  padding: 1%;
  background: rgb(218, 220, 220);
  border-radius: 6px;
}

.tags-menu li {
  /* リスト要素を横並び */
  display: inline;
  background: rgb(162, 173, 173);
  padding: 10px 50px 10px;
}

.left-right-container {
  display: flex;
  width: 97%;
  height: 87%;
  margin-top: 1%;
}
.left-container {
  /* 幅の50% */
  flex: 1;
  margin-right: 7px;
  padding: 16px 24px 16px;
  background: rgb(26, 30, 34);
  color: #fff;
  border-radius: 6px;
  position: relative;
}
.right-container {
  /* 幅の50% */
  flex: 1;
  margin-left: 7px;
  padding: 16px 24px 16px;
  background: #fff;
  border-radius: 6px;
}

.right-menu {
  background: rgb(218, 220, 220);
}
